<form class="container">
    <div class="col-sm-4" style="height: 70vh; width:30vw;">
        <div class="row">
            <h1 class="title">Sign in to get the latest news</h1>
        </div>
        <div class="row">
            <label class="inputs">Email</label>
        </div>
        <div class="row">
            <mat-form-field appearance="fill" class="fields">
                <input type="text" matInput placeholder="Email" [(ngModel)]="user.email" class="inputs">
            </mat-form-field>
        </div>
        <div class="row">
            <label class="inputs">Password</label>
        </div>
        <div class="row">
            <mat-form-field appearance="fill" class="fields">
                <input type="password" [(ngModel)]="user.pass" matInput placeholder="Password">
            </mat-form-field>
        </div>
        <div class="row" style="padding-left: 59%;">
            <button mat-raised-button color="primary" class="btn">Sign in</button>
        </div>
    </div>


    <!-- <mat-card>
        <mat-card-header>
            <mat-card-title>Sign in to get the latest news</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <label>Email</label>
                        <input matInput placeholder="Email">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width">
                        <label>Password</label>
                        <input matInput placeholder="Password">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
    </mat-card> -->
</form>