.headline{
    margin-bottom: 3%;
}

.img {
    border-radius: 5%;
    margin-bottom: 5%;
    position: relative;
}

.card {
    padding:7%;
    padding-top: 2%;
    text-align: left;
    border-radius: 5%;
}

#flxlayout {
    column-gap: 50;
}

mat-card-content {
    margin-bottom: 5%;
    margin-top: 5%;
}

