<div class="container-fluid">
    <div class="col">
        <div class="row" id="bg">
            <div class="circle" [ngStyle]="{'background-color':circleColor}">
                {{initials}}
            </div>
            <img src="assets/images/logo.png" alt="" id="logo">
            <h1 class="headline">Stay updated with <br>the latest news everywhere, anytime.</h1>
        </div>
        <div class="row" id="cards">
            <app-latest-news></app-latest-news>
        </div>
    </div>
</div>