/* #img {
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0),
    rgba(16, 15, 15, 0.75)), url('../images/logo.png'), url('../images/background.jpeg');
    background-position: center, bottom right,center;
    background-repeat: no-repeat,no-repeat, no-repeat;
    background-size: cover,15vw, cover;
    height:100vh;
    width:50vw;
} */

#img {
    background-image: linear-gradient(0deg,
    rgba(0, 0, 0, 0),
    rgba(16, 15, 15, 0.75)), url('../../../../../assets/images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
    width:50vw;
}


#img #logo {
    position: relative;
    padding-top: 83%;
    padding-left: 57%;
    width: 45vw;
}

.container {
    margin:auto;
}