<mat-dialog-content>
    <div class="row">
        <div class="col-sm-6">
            <img mat-card-image src='../../../../../assets/images/background.jpeg' alt="" class="img">
        </div>
        <div class="col-sm-6">
            <h3>Headline</h3>
            <h5>By Jone Doe</h5>
            <p id="date">Posted on 29/2/2024</p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum
                dolor
                sit amet, consectetur adipiscing elit, sed do eiusmod tempor.Lorem ipsum dolor sit amet,
                consectetur
                adipiscing elit, sed do eiusmod tempor.Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed
                do eiusmod tempor.
            </p>
            <mat-dialog-actions>
                <button class="goto" mat-raised-button color="primary">Go to article</button>
            </mat-dialog-actions>
        </div>
    </div>
</mat-dialog-content>